* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.headphones-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.login-container {
  background-color: rgba(2, 50, 19, 0.5);
  padding: 80px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
  justify-content: center;
}

.spotify-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  border-radius: 0;
}

h1 {
  margin-bottom: 25px;
  font-size: 3rem;
  text-align: center;
}

button {
  background-color: #1DB954;
  color: #000000;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #a8f4c2;
  color: #000000;
}
